<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LOBBY</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body>
    <!-- Header -->
    <header class="masthead d-flex flex-column align-items-center">

    <div class="container d-flex flex-column align-items-center">
        <div>
            <h2>game pin goes here</h2>
        </div>

        <div class="card my-3" style="width: 100%; background-color: transparent;">
          <div class="card-title my-2 text-center">
            <h5>players go below this</h5>
          </div>
          <!-- we probably want to import the current players into this element via API call-->
          <div class="card-body">
            <h5>other player</h5>
          </div>
        </div>

    </div>
    <!-- button for handling starting the game -->
    <div>
      <button onclick="" type="submit" class="btn btn-lg btn-primary btn-block">start game</button>
    </div>



    <footer class="footer">
      <!-- if the player is already in a game, we probably want this to be a button that invokes a call for a player to leave a game -->
      <a type="button" class="btn btn-danger my-5" href = "/">Exit</a>
    </footer>
    

    <!-- code we made -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>
</body>