<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LANDING</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Header -->
  <header class="masthead d-flex flex-column align-items-center">
    
    <div>
      <h1>whomst</h1>
    </div>
    
    <div class="container">
      <div class="d-flex flex-row justify-content-around align-items-center">
        
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="form-label-group justify-content-center align-items-center">
            <input type="text" class="form-control my-3" id="gameId" placeholder="GAME PIN" name="gameId" style="text-align: center;" required>
            <input type="text" class="form-control username my-3" id="joinGameUsername" placeholder="USERNAME" name="username" style="text-align: center;" required>
            <button onclick="joinGame()" type="submit" value="joinGame" class="btn btn-primary btn-block btn-lg my-3">join game</button>
          </div>
        </div>

        <div>
          <div class="form-label-group justify-content-center">
            <input type="text" class="form-control username" id="createGameUsername" placeholder="USERNAME" name="username" style="text-align: center;" required>
            <button onclick="createGame()" type="submit" class="btn btn-lg btn-primary btn-block my-3">create game</button>
          </div>
        </div>

      </div>
    </div>

  </header>

  <script src="https://cdn.socket.io/socket.io-2.3.0.js"></script>

  <!-- our own javascript-->
  <script src='./js/landing.js'></script>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>